<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  <connectionStrings>
        <add name="!aCommerce-ConnectionString!" connectionString="Data Source=NBK012\ARPASQL;Initial Catalog=aCommerceDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  -->

<configuration>

  <!-- Stringa di Connessione -->


  <connectionStrings>
    <add name="!aCommerce-ConnectionString!" connectionString="Data Source=NBK012\ARPASQL;Initial Catalog=aCommerceDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>


  
  
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
</configuration>
